{% extends 'base.html.twig' %}
{% block title %}Admin {{ page|capitalize }}{% endblock %}


{% block subheader_toolbar %}
    <div class="kt-subheader__toolbar">
        <div class="kt-subheader__wrapper">

            {% if check_action.checkRuleFonctionnalite(entityName|upper, 2) %}
                <a href="{{ path( routeName ~ '_' ~ page ~ '_editnew' ) }}" class="btn kt-subheader__btn-primary">Ajouter</a>
            {% endif %}
            {% if entityName == "fonctionnalite" %}
                <a href="#" class="btn btn-brand btn-elevate btn-icon-sm crudModal" id="jenSaisRien" data-url="/fonctionnalite/ordre" data-title="Ordre des fonctionnalités">
                    <i class="fas fa-cog"></i>
                </a>
            {% endif %}

            <div class="dropdown dropdown-inline" data-toggle="kt-tooltip" title="" data-placement="left" data-original-title="Quick actions">
                <a href="#" class="btn btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="flaticon2-plus"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-fit dropdown-menu-md dropdown-menu-right">
                    <!--begin::Nav-->
                    <ul class="kt-nav">
                        <li class="kt-nav__head">
                            Add anything or jump to:
                            <i class="flaticon2-information" data-toggle="kt-tooltip" data-placement="right" title="" data-original-title="Click to learn more..."></i>
                        </li>
                        <li class="kt-nav__separator"></li>
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-drop"></i>
                                <span class="kt-nav__link-text">Order</span>
                            </a>
                        </li>
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-calendar-8"></i>
                                <span class="kt-nav__link-text">Ticket</span>
                            </a>
                        </li>
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-telegram-logo"></i>
                                <span class="kt-nav__link-text">Goal</span>
                            </a>
                        </li>
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-new-email"></i>
                                <span class="kt-nav__link-text">Support Case</span>
                                <span class="kt-nav__link-badge">
                                        <span class="kt-badge kt-badge--success">5</span>
                                    </span>
                            </a>
                        </li>
                        <li class="kt-nav__separator"></li>
                        <li class="kt-nav__foot">
                            <a class="btn btn-label-brand btn-bold btn-sm" href="#">Upgrade plan</a>
                            <a class="btn btn-clean btn-bold btn-sm" href="#" data-toggle="kt-tooltip" data-placement="right" title="" data-original-title="Click to learn more...">Learn more</a>
                        </li>
                    </ul>
                    <!--end::Nav-->
                </div>
            </div>
        </div>
    </div>


{% endblock %}



{% block body %}

    {% if message is defined %}
        <div class="col-xs-12 w-100 text-center">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    <p class="font-weight-bold">{{ message }}</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if filtres is defined and filtres is not empty %}
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Filtres
                    </h3>
                </div>
                <div class="kt-portlet__head-label">
                    <button class="btn btn-primary btn_filtres" type="button" data-toggle="collapse" data-target="#collapse_filtres" aria-expanded="false" aria-controls="filtre">
                        <i class="fas fa-angle-double-down"></i>
                    </button>
                </div>
            </div>
            {% embed "@Admin/filtre.html.twig" %}{% endembed %}
        </div>
    {% endif %}

    <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">


        <div class="kt-portlet__body kt-portlet__body--fit" style="padding: 20px;">

            <table id="table" class="table table-striped- table-bordered table-hover table-checkable"></table>

            <div class="row" style="margin-top: 15px;">

                <div class="col-md-3">

                    <select class="form-control selectOptionsMulti"
                            style="display: none; margin-right: 15px; width: 40%; display: inline-block;">
                        <option value="">Tout</option>
                        <option value="deleteSelectedCheckbox" class="deleteOnSelectedCheckbox">Supprimer</option>
                    </select>
                </div>
            </div>
        </div>

    </div>


{% endblock %}


{% block javascripts %}
    <script>
        $(document).ready(function() {

            let myColumnsTwig = {{ config|json_encode|raw }};
            let ordering;

            $.each(myColumnsTwig, function (index, value) {
                if (value.name == 'bulk') {
                    $('input.selectAllCheckboxesIndex').show();
                    $('select.selectOptionsMulti').show();
                    $('button.executeSelectOptionsMulti').show();
                }
                if (value.name == 'id') {
                    ordering = [index, 'asc'];
                    return false;
                }
            });

            var table = $('#table').DataTable({
                order : [ordering],
                serverSide: true,
                processing: true,
                ajax:{
                    type: "POST",
                    url: "{{ path( routeName ~ '_' ~ page ~ '_indexlist' ) }}",
                    data:  function(d) {
                        d.filtre = $('form#filtre').serialize()
                    }
                },
                headers: {"Authorization": localStorage.getItem('token')},
                columns: myColumnsTwig,
                columnDefs: [
                    {"className": "dt-center", "targets": "_all"}
                ],
                language: {
                    url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                },
                "initComplete": function( settings, json ) {
                    $(crudIhm).trigger($.Event('crudIhm.loaded.datatable', {'datatable':$(this)[0], 'settings':settings, 'json':json}));
                    //$('div.loading').remove(); @todo Interessant
                },
                drawCallback: function( settings ){
                    $(crudIhm).trigger($.Event('crudIhm.draw.datatable', {'datatable':$(this)[0], 'settings':settings}));
                }
            });

            $('#filtrer').click(function () {
                table.ajax.reload();
            });

            $('.btn_filtres').click(function() {
                $(this).find('i').toggleClass('rotated');
            });

            $(crudIhm).on('crudIhm.draw.datatable',function(opts){
                crudIhm.modalInit(opts.datatable);
            })

        });
    </script>
{% endblock %}