

{% if check_action.checkRuleFonctionnalite(entityName|upper, 2) %}
    <a href="#" class="btn btn-brand btn-elevate btn-icon-sm crudModal" style="margin-bottom: 20px;"
       id="addTabList"
       data-callback="crudIhm.tabRefresh"
       data-url=" {{ path(nameRoute ~ "_" ~ page ~ "_formtablist", {'id':app.request.get('id'), 'ongl': app.request.get('ongl')}) }}">
        <i class="la la-plus"></i>Ajouter
    </a>
{% endif %}

<table id="table_id" class="datatable display">

    <thead>
        <tr>
            {% if attribute(conf_onglet, app.request.get('ongl')).conf_col is defined and attribute(conf_onglet, app.request.get('ongl')).conf_col is not empty %}
                {% for index, col in attribute(conf_onglet, app.request.get('ongl')).conf_col %}
                    <th>{{ col.title }}</th>
                {% endfor %}
            {% endif %}
        </tr>
    </thead>

    <tbody>
        {% for index, data in data_tab %}
            <tr>
                {% if attribute(conf_onglet, app.request.get('ongl')).conf_col is defined and attribute(conf_onglet, app.request.get('ongl')).conf_col is not empty %}
                    {% for index, col in attribute(conf_onglet, app.request.get('ongl')).conf_col %}
                        <td>{{  attribute(data, index)|raw }}</td>
                    {% endfor %}
                {% endif %}

            </tr>
        {% endfor %}
    </tbody>

</table>




